*{
	margin: 0;
	padding: 0;
}


.navbar-brand img{
	width: 70px;
}
.content h1{
	font-weight: 600;
}
.content p{
	font-size: 25px;
	margin: 10px 0 20px 0;

}
.content a{
	background-color: blue;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
}
.nav a img{
	width: 80px;
}
.shadow-lg {
    box-shadow: 0rem 3rem 10rem rgba(0, 0, 0, 0.08) !important;
}

@media(max-width: 767px){
	h2{
		font-size: 25px;
	}
	.card{
     margin-bottom: 40px;
	}
}
footer{
	background-color: #f5f5f5f5 !important;
}
